// Home Content
.main-container {
    width: 100%;
    margin: 0 auto;

    .home-top {
        background-image: url(/images/Background-Img-Two.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 30rem;
        @media @tablet{
            padding-top: 20rem; 
            background-position: center;
            background-size: 175% 175%;
        }
        @media @mobile{
            padding-top: 20rem;
           
        }
       
        .home-intro {
            width: 50%;
            padding: 2% 5%;
            line-height: 2;
            text-align: center;
            margin: 0 auto;
            background-color: @main-green;
            border-radius: 5px;
            @media @tablet{
                width: 80%;
            }
            @media @mobile{
                width: 95%;
                line-height: 1;       
                    }
            h1 {
                font-size: 4rem;
                @media @mobile{
                    font-size: 3.2rem;
                }
            }
            
            p {
                font-size: 1.5rem;
            }
            button {
                font-size: 1.6rem;
                margin: 2rem 4rem 0;
                border: 1px solid @accent-green;
                color: white;
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                background-color: @accent-green;
                @media @mobile {
                    margin: 3%;
                }
            }
        } // End of home intro
        .home-what {
            text-align: center;
            padding: 2rem 0;
            background-color: @accent-yellow;
            h2 {
                font-size: 4rem;
                margin-bottom: 1rem;
                @media @mobile{
                    font-size: 3.2rem;
                }
            }

        }
    }

    .home-middle {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 90%;
        align-content: space-between;
        @media @mobile{
            flex-direction: column;
        }

        section {
            width: 46%;
            padding: 2rem;
            border: 2px solid black;
            border-radius: 1rem;
            margin: 0 0 3rem;
            text-align: center;
            line-height: 2;
            @media @mobile{
                width: 100%;
            }

            h3 {
                font-size: 2.8rem;
            }

            p {
                font-size: 1.3rem;
            }

            button {
                font-size: 2.2rem;
                margin: 2.5rem 4rem 0;
                border: 1px solid @accent-green;
                color: white;
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                background-color: @accent-green;

                @media @tablet{
                    font-size: 2rem;
                    margin: 1rem;
                }
            }
        }
    }
    #mid-h2 {
        text-align: center;
        font-size: 3.5rem;
    }

}
